   <%- include ('includes/head');%>
   <%- include ('includes/nav');%>
   <div class="container">
    <div>
        <div class="col-log-2"></div>

        <div class="col-log-8 my-5">
            <h1 class="text-center">Agenda</h1>
            <p class="lead text-center">Seus contatos estão abaixo</p>
            </div>
            <%- include('includes/messages')%>
            <% if(contatos.length > 0) {%>
            <div class="responsive-table">
                <table class="table my-3 ">
                <% contatos.forEach(contato => { %>
                    <tr>
                        <td><%= contato.nome %></td>
                        <td><%= contato.sobrenome %></td>
                        <td><%= contato.email %></td>
                        <td><%= contato.telefone %></td>
                        <td><a href="/contato/<%= contato._id%>">Editar</a></td>
                        <td><a class="text-danger" href="/contato/delete/<%= contato._id%>">Excluir</a></td>
                    </tr>
                <% }); %>
                </table>
            </div>
            <%} else { %>
            <p class="lead text-center"><a href="/contato/">Não há contatos na sua agenda, cadastre agora.</a></p>
            <%}%>
        </div>
        <div class="col-log-2"></div>
    </div>
   <%- include ('includes/footer')%>